body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:972px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:972px;
  background:inherit;
  background-color:rgba(245, 246, 248, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:19px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  position:absolute;
  left:187px;
  top:-187px;
  width:598px;
  height:972px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2 {
  position:absolute;
  left:2px;
  top:478px;
  width:594px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:547px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  position:absolute;
  left:56px;
  top:27px;
  width:860px;
  height:547px;
}
#u4 {
  position:absolute;
  left:2px;
  top:266px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  height:38px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  position:absolute;
  left:58px;
  top:536px;
  width:857px;
  height:38px;
}
#u6 {
  position:absolute;
  left:2px;
  top:11px;
  width:853px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u7 {
  position:absolute;
  left:335px;
  top:545px;
  width:25px;
  height:22px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u8 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u9 {
  position:absolute;
  left:473px;
  top:542px;
  width:28px;
  height:28px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  position:absolute;
  left:593px;
  top:542px;
  width:28px;
  height:28px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:468px;
  top:509px;
  width:36px;
  height:20px;
  overflow:hidden;
}
#u13_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:108px;
}
#u14 {
  position:absolute;
  left:362px;
  top:215px;
  width:253px;
  height:108px;
}
#u15 {
  position:absolute;
  left:2px;
  top:46px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16 {
  position:absolute;
  left:468px;
  top:509px;
  width:20px;
  height:20px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18 {
  position:absolute;
  left:484px;
  top:509px;
  width:20px;
  height:20px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20 {
  position:absolute;
  left:844px;
  top:29px;
  width:20px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u22 {
  position:absolute;
  left:858px;
  top:28px;
  width:55px;
  height:25px;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
