body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:972px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:972px;
  background:inherit;
  background-color:rgba(245, 246, 248, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:19px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u93 {
  position:absolute;
  left:187px;
  top:-187px;
  width:598px;
  height:972px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u94 {
  position:absolute;
  left:2px;
  top:478px;
  width:594px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:547px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95 {
  position:absolute;
  left:56px;
  top:27px;
  width:860px;
  height:547px;
}
#u96 {
  position:absolute;
  left:2px;
  top:266px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  height:38px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97 {
  position:absolute;
  left:58px;
  top:536px;
  width:857px;
  height:38px;
}
#u98 {
  position:absolute;
  left:2px;
  top:11px;
  width:853px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u99 {
  position:absolute;
  left:335px;
  top:545px;
  width:25px;
  height:22px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u100 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u101 {
  position:absolute;
  left:473px;
  top:542px;
  width:28px;
  height:28px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u102 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u103 {
  position:absolute;
  left:593px;
  top:542px;
  width:28px;
  height:28px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u104 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u105 {
  position:absolute;
  left:58px;
  top:28px;
  width:857px;
  height:39px;
}
#u106 {
  position:absolute;
  left:2px;
  top:12px;
  width:853px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u107 {
  position:absolute;
  left:844px;
  top:29px;
  width:20px;
  height:20px;
}
#u108 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u109 {
  position:absolute;
  left:858px;
  top:28px;
  width:55px;
  height:25px;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u110 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:5px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u111 {
  position:absolute;
  left:301px;
  top:133px;
  width:350px;
  height:51px;
}
#u112 {
  position:absolute;
  left:2px;
  top:18px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:5px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u113 {
  position:absolute;
  left:301px;
  top:194px;
  width:350px;
  height:55px;
}
#u114 {
  position:absolute;
  left:2px;
  top:20px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:5px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u115 {
  position:absolute;
  left:301px;
  top:263px;
  width:350px;
  height:51px;
}
#u116 {
  position:absolute;
  left:2px;
  top:18px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u117 {
  position:absolute;
  left:430px;
  top:203px;
  width:40px;
  height:40px;
}
#u117_img.selected {
}
#u117.selected {
}
#u118 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u119 {
  position:absolute;
  left:527px;
  top:204px;
  width:40px;
  height:40px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u119_img.selected {
}
#u119.selected {
}
#u120 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u121 {
  position:absolute;
  left:328px;
  top:27px;
  width:310px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u122 {
  position:absolute;
  left:2px;
  top:9px;
  width:306px;
  word-wrap:break-word;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u123 {
  position:absolute;
  left:322px;
  top:199px;
  width:71px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u124 {
  position:absolute;
  left:2px;
  top:14px;
  width:67px;
  word-wrap:break-word;
}
#u125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u125 {
  position:absolute;
  left:322px;
  top:135px;
  width:71px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u126 {
  position:absolute;
  left:2px;
  top:14px;
  width:67px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:380px;
  top:147px;
  width:220px;
  height:25px;
}
#u127_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u128 {
  position:absolute;
  left:322px;
  top:265px;
  width:71px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u129 {
  position:absolute;
  left:2px;
  top:14px;
  width:67px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:385px;
  top:277px;
  width:220px;
  height:25px;
}
#u130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u131 {
  position:absolute;
  left:458px;
  top:73px;
  width:50px;
  height:50px;
}
#u132 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:5px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u133 {
  position:absolute;
  left:301px;
  top:323px;
  width:350px;
  height:51px;
}
#u134 {
  position:absolute;
  left:2px;
  top:18px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u135 {
  position:absolute;
  left:322px;
  top:325px;
  width:71px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u136 {
  position:absolute;
  left:2px;
  top:14px;
  width:67px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:385px;
  top:337px;
  width:220px;
  height:25px;
}
#u137_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:5px;
  -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u138 {
  position:absolute;
  left:301px;
  top:383px;
  width:350px;
  height:51px;
}
#u139 {
  position:absolute;
  left:2px;
  top:18px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u140 {
  position:absolute;
  left:322px;
  top:385px;
  width:71px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u141 {
  position:absolute;
  left:2px;
  top:14px;
  width:67px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:385px;
  top:397px;
  width:220px;
  height:25px;
}
#u142_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143 {
  position:absolute;
  left:571px;
  top:326px;
  width:71px;
  height:46px;
}
#u144 {
  position:absolute;
  left:2px;
  top:15px;
  width:67px;
  word-wrap:break-word;
}
#u145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u145 {
  position:absolute;
  left:571px;
  top:386px;
  width:71px;
  height:46px;
}
#u146 {
  position:absolute;
  left:2px;
  top:15px;
  width:67px;
  word-wrap:break-word;
}
#u147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u147 {
  position:absolute;
  left:355px;
  top:459px;
  width:100px;
  height:40px;
}
#u148 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u149 {
  position:absolute;
  left:491px;
  top:459px;
  width:100px;
  height:40px;
}
#u150 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
