body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:972px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1227 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:972px;
  background:inherit;
  background-color:rgba(245, 246, 248, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:19px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1228 {
  position:absolute;
  left:187px;
  top:-187px;
  width:598px;
  height:972px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1229 {
  position:absolute;
  left:2px;
  top:478px;
  width:594px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:547px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1230 {
  position:absolute;
  left:56px;
  top:27px;
  width:860px;
  height:547px;
}
#u1231 {
  position:absolute;
  left:2px;
  top:266px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  height:38px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1232 {
  position:absolute;
  left:58px;
  top:536px;
  width:857px;
  height:38px;
}
#u1233 {
  position:absolute;
  left:2px;
  top:11px;
  width:853px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u1234 {
  position:absolute;
  left:335px;
  top:545px;
  width:25px;
  height:22px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1235 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1236 {
  position:absolute;
  left:473px;
  top:542px;
  width:28px;
  height:28px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1237 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1238 {
  position:absolute;
  left:593px;
  top:542px;
  width:28px;
  height:28px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1239 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1241 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1242 {
  position:absolute;
  left:68px;
  top:86px;
  width:796px;
  height:40px;
}
#u1243 {
  position:absolute;
  left:2px;
  top:12px;
  width:792px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u1244 {
  position:absolute;
  left:104px;
  top:70px;
  width:176px;
  height:73px;
  font-size:18px;
  color:#000000;
}
#u1245 {
  position:absolute;
  left:2px;
  top:26px;
  width:172px;
  word-wrap:break-word;
}
#u1246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1246 {
  position:absolute;
  left:831px;
  top:90px;
  width:73px;
  height:33px;
  font-size:20px;
}
#u1247 {
  position:absolute;
  left:2px;
  top:4px;
  width:69px;
  word-wrap:break-word;
}
#u1248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u1248 {
  position:absolute;
  left:842px;
  top:103px;
  width:11px;
  height:9px;
}
#u1249 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
}
#u1250 {
  position:absolute;
  left:793px;
  top:100px;
  width:35px;
  height:15px;
  font-size:12px;
  color:#BCBCBC;
  text-align:center;
}
#u1251 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u1252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1252 {
  position:absolute;
  left:118px;
  top:91px;
  width:30px;
  height:30px;
}
#u1253 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1254_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:858px;
  height:5px;
}
#u1254 {
  position:absolute;
  left:58px;
  top:145px;
  width:855px;
  height:2px;
}
#u1255 {
  position:absolute;
  left:2px;
  top:-7px;
  width:851px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1256 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1257 {
  position:absolute;
  left:58px;
  top:156px;
  width:806px;
  height:40px;
}
#u1258 {
  position:absolute;
  left:2px;
  top:12px;
  width:802px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u1259 {
  position:absolute;
  left:105px;
  top:151px;
  width:178px;
  height:56px;
  font-size:18px;
  color:#000000;
}
#u1260 {
  position:absolute;
  left:2px;
  top:17px;
  width:174px;
  word-wrap:break-word;
}
#u1261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1261 {
  position:absolute;
  left:831px;
  top:160px;
  width:74px;
  height:33px;
  font-size:20px;
}
#u1262 {
  position:absolute;
  left:2px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u1263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u1263 {
  position:absolute;
  left:774px;
  top:147px;
  width:108px;
  height:60px;
  font-size:18px;
  color:#000000;
}
#u1264 {
  position:absolute;
  left:2px;
  top:19px;
  width:104px;
  word-wrap:break-word;
}
#u1265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1265 {
  position:absolute;
  left:114px;
  top:162px;
  width:35px;
  height:35px;
}
#u1266 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1267 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:814px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1268 {
  position:absolute;
  left:86px;
  top:228px;
  width:814px;
  height:40px;
}
#u1269 {
  position:absolute;
  left:2px;
  top:12px;
  width:810px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u1270 {
  position:absolute;
  left:105px;
  top:211px;
  width:180px;
  height:73px;
  font-size:18px;
  color:#000000;
}
#u1271 {
  position:absolute;
  left:2px;
  top:26px;
  width:176px;
  word-wrap:break-word;
}
#u1272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1272 {
  position:absolute;
  left:829px;
  top:233px;
  width:75px;
  height:33px;
  font-size:20px;
}
#u1273 {
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  word-wrap:break-word;
}
#u1274 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u1275 {
  position:absolute;
  left:112px;
  top:226px;
  width:39px;
  height:39px;
}
#u1276 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:856px;
  height:2px;
}
#u1277 {
  position:absolute;
  left:58px;
  top:212px;
  width:855px;
  height:1px;
}
#u1278 {
  position:absolute;
  left:2px;
  top:-8px;
  width:851px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1279 {
  position:absolute;
  left:58px;
  top:28px;
  width:857px;
  height:39px;
}
#u1280 {
  position:absolute;
  left:2px;
  top:12px;
  width:853px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1281 {
  position:absolute;
  left:844px;
  top:29px;
  width:20px;
  height:20px;
}
#u1282 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1283 {
  position:absolute;
  left:858px;
  top:28px;
  width:55px;
  height:25px;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1284 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u1285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1285 {
  position:absolute;
  left:328px;
  top:27px;
  width:310px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1286 {
  position:absolute;
  left:2px;
  top:9px;
  width:306px;
  word-wrap:break-word;
}
